{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="categories-menu">
  <a
    href="{% url 'main:product_list' %}"
    class="{% if not category %}active{% endif %}"
    >Всі товари</a
  >
  {% for cat in categories %}
  <a
    href="{{ cat.get_absolute_url }}"
    class="{% if category.slug == cat.slug %}active{% endif %}"
  >
    {{ cat.name }}
  </a>
  {% endfor %}
</div>

{% if products %}
<div class="products">
  {% for product in products %}
  <div class="card">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
    {% else %}
    <div class="no-image">Зображення відсутнє</div>
    {% endif %}
    <h3>{{ product.name }}</h3>
    <p class="price">{{ product.price }} грн</p>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Товарів поки немає.</p>
{% endif %}
{% endblock %}
